<h2>Crear robot</h2>

<form #myForm="ngForm" (ngSubmit)="submit()">
  <p>
    Serial:
    <input type="text" #serial="ngForm"
           ngControl="serial" [(ngModel)]="newRobot.serial" required minlength="3" pattern="[0-9]{6}" />
    <span *ngIf="!serial.valid">No válido</span>
  </p>

  <p>
    Fabricante:
    <input type="text" #manufacturer="ngForm"
           ngControl="manufacturer" [(ngModel)]="newRobot.manufacturer" required minlength="5" pattern="[A-Za-z]*"/>
    <span *ngIf="!manufacturer.valid">No válido</span>
  </p>

  <p>
    Modelo:
    <input type="text" #model="ngForm"
           ngControl="model" [(ngModel)]="newRobot.model" required minlength="4" pattern="[A-Za-z]*" />
    <span *ngIf="!model.valid">No válido</span>
  </p>

  <p>
    Clase:
    <input type="text" #robotClass="ngForm"
           ngControl="robotClass" [(ngModel)]="newRobot.robotClass" required minlength="2" pattern="[A-Za-z]*" />
    <span *ngIf="!robotClass.valid">No válido</span>
  </p>

  <p>
    Año fabricación:
    <input type="text" #manufacturingYear="ngForm"
           ngControl="manufacturingYear" [(ngModel)]="newRobot.manufacturingYear" required minlength="4" pattern="[0-9]{4}" />
    <span *ngIf="!manufacturingYear.valid">No válido</span>
  </p>

  <input type="submit" value="Crear robot" [disabled]="!myForm.form.valid" />
</form>
