h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    text-decoration: underline;
}

.showingData {
    display: none;
}

.pelicula-poiner {
    cursor: pointer;
}
.pelicula-poiner:hover {
    text-decoration: underline;
}

.clicked {
    font-size: 20px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}