<h1>{{titulo}}</h1>
<p>Listado de Peliculas</p>

<button (click)="onShowHideMostrarDatos(true)" [class.showingData]="mostrarDatos">Mostrar datos</button>
<button (click)="onShowHideMostrarDatos(false)" [class.showingData]="!mostrarDatos">Ocultar datos</button>
<ul *ngIf="mostrarDatos">
    <li><b>Titulo:</b> {{pelicula.titulo}}</li>
    <li><b>Director:</b> {{pelicula.director}}</li>
    <li><b>Año:</b> {{pelicula.anio}}</li>
</ul>

<p>
    Cambiar titulo: <input type="text" (keyup)="debug()" [(ngModel)]="pelicula.titulo"/>
</p>