<p>
  <strong>
    <span style="font-size:20px;">Venta POS </span> 
  </strong>
  <span style="font-size:15px;">(Nro. {{pedido.numeroPedido}}) - {{pedido.estadoPedido.descripcion}}
  </span>
</p>
<button type="button">Generar Factura</button>
<button type="button">Finalizar</button>
<button type="button">Reabrir</button>
<button type="button">Nueva Venta</button>
<button type="button">Lista de Ventas POS</button>
<div>
  <button>Más Opciones</button>
  <div>
    <a href="#">Eliminar</a>
    <a href="#">Imprimir</a>
  </div>
</div>