.clearfix {
  float: none;
  clear: both;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Helvetica, Arial;
}

#content {
  width: 80%;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px  5px #ddd;
}

header {
  padding: 15px;
  background: #1976D2;
}

header #logo {
  width: 50px;
  display: block;
  float: left;
}

header h1 {
  margin: 0px;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 55px;
  font-size: 25px;
  text-transform: uppercase;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  float: left;
}

.main {
  padding: 15px;
}

.main h1 {
  color: #444;
}

#places-list {
  padding: 0px;
  margin: 0px;
}

.place-item {
  list-style: none;
  width: 100%;
  border-top: 1px solid #ddd;
  height: 100px;
  float: left;
  padding-top: 10px;
  padding-bottom: 20px;
  color: gray;
}

.place-item .image {
  height: 105px;
  width: 105px;
  overflow: hidden;
  background: #ccc;
  float: left;
}

.place-item .image img {
  height: 105px;
}

.place-item .data {
  float: left;
  margin-left: 20px;
}

.place-item h4 {
  color: #444;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
}

.btn {
  font-size: 13px;
  border: 1px solid #ccc;
  border-color: #1976D2;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #ddd;
  padding: 5px;
  text-decoration: none;
  color: white;
  background: #0074D9;
  cursor: pointer;
}

.btn-edit {
  background: #0A0;
  border-color: #59a600;
}

.btn-delete {
  background: #E23237;
  border-color: #F54747;
}

.loading {
  list-style: none;
  text-decoration: none;
}

.place-box .score {
  color: white;
  background: green;
  font-size: 14px;
  padding: 5px;
  box-shadow: 2px 2px #016B01;
  text-align: center;
  width: 200px;
}

nav {
  width: 100%;
  background: #F2F2F2;
  height: 45px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav ul li {
  margin: 0px;
  display: block;
  float: left;
  border-right: 1px solid white;
  height: 45px;
  line-height: 35px;
}

nav ul li a {
  display: block;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #444;
  transition: all 100ms;
}

nav ul li a:hover {
  background: #1976D2;
  color: white;
  opacity: 0.8;
}

.confirmation {
  float: left;
  position: absolute;
  background: white;
  padding: 10px;
  margin-top: -45px;
}

.image-detail {
  width: 200px;
  float: left;
  margin-right: 30px;
}

.place-data {
  float: left;
}
