h1 {
  font-family: Arial, Helvetica;
  color: #444;
}

p {
  font-family: Arial;
  color: #333;
  text-decoration: inherit;;
}

ul {
  font-family: Tahoma;
}

.showingData {
  display: none;
}

.robot-model:hover {
  text-decoration: underline;
}

.clicked {
  font-size: 20px;
  color: green;
  font-family: Arial;
}
