<h1>{{title}}</h1>

<ul id="places-list">
  <li class="loading">
    <img src="../../assets/images/loader.gif" *ngIf="loading === 'show'" />
  </li>
  <li *ngFor="let place of places" class="place-item">
    <div class="image">
      <img src="http://localhost:4000/api/uploads/{{place.place_image}}" *ngIf="place.place_image && place.place_image !== 'null'" />
    </div>
    <div class="data">
      <h4>{{place.place_name}}</h4>
      <p>{{place.place_score}}</p>
      <p>
        <a [routerLink]="['Place', {uuid: place.place_uuid}]" class="btn btn-view">View</a>
        <a [routerLink]="['EditPlace', {uuid: place.place_uuid}]" class="btn btn-edit">Edit</a>
        <a (click)="onConfirmDeletion(place.place_uuid)" class="btn btn-delete">Delete</a>
      </p>
      <div class="confirmation" *ngIf="confirm === place.place_uuid">
        <a (click)="onDelete(place.place_uuid)" class="btn btn-delete">Delete</a>
        <a (click)="onCancel()" class="btn btn-view">Cancel</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </li>
  <div class="clearfix"></div>
</ul>
