<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#ventaPos">Venta POS</a> <button> <i class="glyphicon glyphicon-remove"></i></button></li>
    <li><a data-toggle="tab" href="#menu1">.</a></li>
    <li><a data-toggle="tab" href="#menu2">.</a></li>
  </ul>

  <div class="tab-content">
    <div id="ventaPos" class="tab-pane fade in active">
        <app-titulo></app-titulo>
        <app-encabezado></app-encabezado>
        <app-tabla-detalle-pedido></app-tabla-detalle-pedido>
        <app-tabla-medio-pago></app-tabla-medio-pago>

    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Some content in menu 2.</p>
    </div>
  </div>
</div>