<h1>{{titulo}}</h1>

<ul id="restaurantes-list">
    <li class="loading">
        <img src="../../assets/images/loader.gif" *ngIf="loading == 'show'"/>
    </li>
    <li *ngFor="let restaurante of restaurantes" class="restaurante-item">
        <div class="image">
            <img src="http://localhost:8080/restaurante/picture/{{restaurante.imagen}}" *ngIf="restaurante.imagen" />
        </div>
        <div class="data">
            <h4>{{restaurante.nombre}}</h4>
            <p>{{restaurante.direccion}}</p>
            <p>
                <a [routerLink] = "['/restaurante', restaurante.id]" class="btn btn-ver">Ver</a>
                <a [routerLink] = "['/editar-restaurante', restaurante.id]" class="btn btn-editar">Editar</a>
                <a (click)="onBorrarConfirm(restaurante.id)" class="btn btn-eliminar">Eliminar</a>
            </p>
            <div class="seguro" *ngIf="confirmado === restaurante.id">
                <a (click)="onBorrarRestaurante(restaurante.id)" class="btn btn-eliminar">Eliminar</a>
                <a (click)="onCancelarConfirm(restaurante.id)" class="btn btn-ver">Cancelar</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </li>
</ul>