<header id="header">
    <a [routerLink]="['Home']">
        <img src="../../assets/images/angular.png" id="logo" />
    </a>
    <h1> {{titulo}}</h1>
    <div class="clearFix"></div>
</header>
<nav id="nav">
    <ul>
        <li><a [routerLink]="['Home']">Inicio</a></li>
        <li><a [routerLink]="['Home']">Crear Restaurante</a></li>
        <li><a [routerLink]="['Home']">¿Donde como hoy?</a></li>
    </ul>
</nav>
<section class="main">
    <router-outlet></router-outlet>
    <div class="clearFix"></div>
</section>