<div *ngIf="restaurante" class="restaurante-box">
    <img src="http://localhost:3000/uploads/{{restaurante.imagen}}" *ngIf="restaurante.imagen" />
    <div class="data-rest">
        <h1>Restaurante: {{restaurante.nombre}}</h1>
        <p class="precio">
            <span [ngSwitch]="restaurante.precio">
                <span *ngSwitchWhen="'bajo'">Entre $2.50 y $6</span>
                <span *ngSwitchWhen="'medio'">Entre $4.50 y $9</span>
                <span *ngSwitchWhen="'alto'">Entre $7.50 y $20</span>
                <span *ngSwitchDefault>Ni idea</span>
            </span>
        </p>
        <p class="descripcion">{{restaurante.descripcion}}</p>
        <p class="direccion">{{restaurante.direccion}}</p>
    </div>
</div>